# Python bytecode
__pycache__/
*.py[cod]
*.pyo

#idea
.idea/

# Virtualenvs
.venv/
venv/
env/

# OS junk
.DS_Store

# Runtime data
storage/*.json

# Secrets / env files
.env
*.env
.venv312
*.venv312
.venv
*.venv

config.py

trading/binance_credentials.py

config.py
trading/binance_credentials.py
storage/*.json
.venv/
__pycache__/